<div class="parent">
    <div class="child1">
        <img src="assets/onlineshopping.jpeg" width="100%" height = 100% >
    </div>
    <div class="child2">
        <form [formGroup]="loginForm">

        <h2>Online Shopping</h2>
        <h1>Account Login</h1><br><br>
        <input type="text" placeholder="user name" formControlName="email"><br><br>
        <input type="text" placeholder="password" formControlName="password"><br><br>
        <button (click)="signin()">Sign In</button><br><br>

        </form>
      
    </div>
</div>
