<div class="parent">
    <div class="child1">
        <div class="card" *ngFor="let products of productsService">
            <div class="card-body">
                <p><img src="{{ products.image }}" width="100px" height="100px"/></p>
                <h6>Products Name: {{ products.title }}</h6>
                <p>Id:{{ products.id }} </p>
                <p>Price:{{ products.price }} </p>
                <!-- <p>Description:{{ products.description }} </p> -->
                <p>Category:{{ products.category }} </p>
                <p>Rating:{{ products.rating.rate }} </p>
                <button type="button" class="btn btn-success" (click)="save(products)">View</button>
                
            </div>
        </div>
    </div>
    <div class="child2">
        <app-product-details (deleteProductEvent) = "catch($event)" [product]="product"></app-product-details>
    </div>

</div>


<!-- <section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Summer Collection New Morden Design</p>
    <div class="pro-container">
        <div class="pro">
            <img src="assets/img/products/f1.jpg"alt="">
            <div class="des">
                <span>Adidas</span>
                <h5>Cartoon Asranaut T-shirts</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>$78</h4>
            </div>
            <a href="#"><i class="bi bi-cart"></i></a>
        </div> -->